---
   import PostCard from "../../components/home/PostCard.astro";
   import MainLayout from "../../layouts/MainLayout.astro";

   const allPosts = await Astro.glob("./*.md")
---

<MainLayout title="About">
   <div class="flex justify-center">
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
         {
         allPosts.map((post) =>
         <PostCard frontmatter={post.frontmatter} url={post.url} />)
         }
      </div>
   </div>
</MainLayout>