---
    import PostCard from "../../components/home/PostCard.astro";
    import MainLayout from "../../layouts/MainLayout.astro";
    import { formatBlogPosts, slugify } from "../../utils/utils";

    export async function getStaticPaths() {
        const allPosts = await Astro.glob("../blog/*.md")
        const formattedPost = formatBlogPosts(allPosts)
        const allAuthors = [...new Set(formattedPost.map((post: any) => post.frontmatter.author).flat())]
        return allAuthors.map((author: string) => { 
            const authorPosts = formattedPost.filter((post: any) => post.frontmatter.author === author)
            return {
                params: {
                    author: slugify(author)
                },
                props: {
                    authorName: author,
                    posts: authorPosts
                }
            }
        })
    }

    const { author } = Astro.params
    const { posts, authorName } = Astro.props
---

<MainLayout title={authorName}>
    <div class="flex justify-center pt-20 pb-10">
        <div class="flex flex-col">
            <h1 class="text-4xl font-semibold mb-6 font-atkinson">Posts by {authorName}</h1>
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-10">
                {
                posts.map((post: any) => (
                <PostCard frontmatter={post.frontmatter} url={post.url} />
                ))
                }
            </div>
        </div>
    </div>
</MainLayout>