---
import { Icon } from "astro-icon"
const date = new Date().getFullYear().toString()
---

<nav class="bg-white w-[full] flex items-center px-20 md:px-[15rem] py-6 justify-between">
    <a href="/">
        <Icon name="logomark" width="60" />
    </a>
    <div>
    </div>
</nav>