---
import { Icon } from "astro-icon"
import { navData } from "../../data/navData";
const date = new Date().getFullYear().toString()
---

<nav class="bg-white w-[full] flex items-center px-6 lg:px-[15rem] py-6 justify-between">
    <a href="/">
        <Icon name="logomark" width="60" />
    </a>
    <div class="flex items-center gap-6">
        {navData.map(({ name, path }) => (
            <a href={path}>{name}</a>
        ))}
    </div>
</nav>