---
    import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About">
    <section class="w-full min-h-[93vh] lg:min-h-[84vh] flex flex-row justify-center">
        <div class="flex flex-col lg:w-8/12 lg:flex-row gap-6 lg:gap-8 items-center">
            <img src="/images/headshot.jpg" class="lg:rounded-lg" alt="" />
            <div class="flex flex-col items-center lg:items-start gap-2">
                <h1 class="text-5xl lg:text-7xl font-bold font-atkinson">My Blog</h1>
                <p class="text-xl text-justify px-6 lg:px-0 font-atkinson">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aperiam quidem tempora beatae mollitia
                    architecto optio sapiente repellendus natus. Minima reiciendis voluptatibus ratione quos
                    exercitationem expedita commodi doloremque. Repellendus nulla nihil animi fuga voluptas amet fugit
                    eveniet voluptates ab labore. Magnam.
                </p>
            </div>
        </div>
    </section>
</MainLayout>