---
const date = new Date().getFullYear().toString()
---

<footer class="bg-white w-[full] flex items-center px-6 lg:px-[15rem] py-6">
    <p class="text-sm font-atkinson">Copyright © {date} | All rights reserved</p>
</footer>