---
import MainLayout from "./MainLayout.astro";

const { frontmatter } = Astro.props

const { title, description } = frontmatter
---

<MainLayout title="My Blog">
    <header>
        <div></div>
        <img src="" alt="" />
    </header>
    <div>
        <div>
            <slot />
        </div>
        <div></div>
    </div>
</MainLayout>