---
import MainHead from "./MainHead.astro";

const { title, description = "" } = Astro.props
---

<html lang="en">
	<MainHead title={title} description={description} />
	<body>
		<slot>
        </slot>
	</body>
</html>